.auth__main {
    align-items: center;
    justify-content: center;
    display:flex;
    background-color: var(--bs-primary);
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.auth__box-container {
    background-color: white;
    box-shadow: 6px 6px var(--bs-gray-800);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    position: relative;
    z-index: 10;

}

.auth__title {
    color: var(--bs-blue);
    text-align: center;
}
/* 
.auth__input {
    margin-top:2rem;
} */

.auth__social-networks {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.auth__alert-error {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}

.auth__logo{
    width:15%;
    height:auto;
    margin-bottom:1rem;
}

.auth__form{
    width:90%;
    margin:auto;
}



.google-btn{
    display: flex;
    flex-direction: row;
    transition:0.3s;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-color: var(--bs-blue);
    border-style: solid;
}

.google-btn:hover{
    background-color: var(--bs-blue);
    color:white;
}

.google-btn:hover .google-icon-wrapper{
    background-color:white;
    border-radius: 0.25rem;
}