.col-1.idea-button{
    max-width: 15vh;
}

.popover-row{
    margin-bottom: 1.5vh;
}

.loading-delete-spinner{
    z-index: 10;
    height: 10vh;
    width: 10vh;
    position: fixed;
    left: 20%;
    right: 20%;
    top:20%;
    bottom: 20%;
    margin: auto;
    
}

.idea-timestamp{
    /* font-size: small; */
    font-style: italic;
    text-align: center;
    width: 69%;
    border-radius: 100px;
    margin-top: 1%;
}

.standard-card{
    border-radius: 2rem !important;
    margin-bottom: 1rem;
}