.option{
    display: flex;
    width: "100%";
    flex-direction: "row";
    margin: 1.5rem 0 0 1rem;
}

a:hover{
    color: "#4D77FF";
}

.sidebar__login{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border-radius: 0.25rem;
}

 .sidebar__login span{
    margin: auto;
} 

.sidebar__login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-bottom: 4px dotted #E8E8EA;
}

.sidebar__add-link{
    border-radius: 0.5rem;
}

