.option{
    display: flex;
    width: 100%;
    flex-direction:row;
    margin: 1.5rem 0 0 1rem;
    cursor:pointer;
}

.icon {
    font-size: 1.25rem;
    color: #D2D1D4
}

.option:hover{
    display: flex;
    width: 100%;
    flex-direction:row;
    margin: 1.5rem 0 0 1rem;
    cursor:pointer;
    color: #4D77FF;
}

.option-selected{
    display: flex;
    width: 100%;
    flex-direction:row;
    margin: 1.5rem 0 0 1rem;
    cursor:pointer;
    color: #4D77FF; 
}

.option-selected > i{
    color: #4D77FF;
}