.post__container{
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items: center;
    padding:0rem 0rem 0rem 1.75rem;
    font-family: "NunitoSans";
}
.post__body{
    display: flex;
    flex-direction:column; 
    align-items: start; 
    justify-content: center;
    min-width:7rem;
    padding: 1rem 0.5rem 0rem 0.75rem;
}

.post__username{
    font-size: 1rem;
    font-weight: 600;
}

.post__date{
    font-size: 0.75rem;
    color: #A5A3A9;
    margin-top: -0.25rem;
}